*.conf
**/restore/*.sql
**/webhook/hooks.json
!**/postgres/**/*.conf
!**/nginx/*.conf
!**/nginx/conf.d/*.conf
!*.sample.conf
!*.default.conf
!*.tpl.conf
.env*
msmtp.env
!.env.sample
!.env.*.sample
*.mmdb
*.pem
borgmatic.yml
ntfy.yml
aliases.txt
.htpasswd

# Added by ggshield
.cache_ggshield
