# ⚙️ Rename this file to .env and update the variables as needed.

# General
HOSTNAME="<HOSTNAME>"
TZ="Europe/Paris"

# Postgresql Server
POSTGRES_HOST_IP="127.0.0.1"
POSTGRES_HOST_PORT="<POSTGRES-HOST-PORT>"
POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT="<CONTAINER-POSTGRES-PORT>"
POSTGRES_USER="<GTT-DB-USER>"
POSTGRES_PASSWORD='<PASSWORD>'
POSTGRES_DB="<GTT-DB-NAME>"

# gtt-postgres-service
POSTGRES_RESTORE_DIR="./postgres/restore"
POSTGRES_RESTORE_FILE="<YYYY-MM-DD>_gtt.sql"

# PgAdmin
PGADMIN_DEFAULT_EMAIL="<PGADMIN-EMAIL>"
PGADMIN_DEFAULT_PASSWORD="<PGADMIN-PASSWORD>"
PGADMIN_DOMAIN="pgadmin.gtt-dev.example.com"

# Webhook
WEBHOOK_DOMAIN="webhook.gtt-dev.example.com"

# GTT
GTT_DOMAIN_API="api.gtt-dev.example.com"
GTT_DOMAIN_WEB="gtt-dev.example.com"
