# ⚙️ Rename this file to .env.api and update the variables as needed.

# Database
DATABASE_IP='gtt-postgres'
DATABASE_NAME='<GTT-DB-NAME>'
DATABASE_PASSWORD='<GTT-DB-PASSWORD>'
DATABASE_PORT='5432'
DATABASE_USER='<GTT-DB-USER>'

# Flask application
FLASK_APP='gtt.main:api'
FLASK_DEBUG='true'
FLASK_ENV='production'

# Google Suite (GS) API parameters for OAuth2 authentication
GS_AUTH_URI='https://accounts.google.com/o/oauth2/auth'
GS_CLIENT_ID='<GS-CLIENT-ID>'
GS_PRIVATE_KEY="<GS-PRIVATE-KEY>"
GS_TOKEN_URI='https://oauth2.googleapis.com/token'

# JSON Web Token (JWT) parameters for the GTT API
JWT_EXPIRES_IN=28800
JWT_SECRET='<JWT-SECRET'

# GefiProj parameters to get projects data from GefiProj
GEFIPROJ_URL="https://api.gefiproj.example.com/"
GEFIPROJ_LOGIN="<GEFIPROJ-USER-LOGIN>"
GEFIPROJ_PASSWORD="<GEFIPROJ-USER-PASSWORD>"
